<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="styles/styles.css">
  <link rel="icon" href="data:,">
  <title>ToDo List</title>
</head>
<header>
    <nav class="navbar navbar-expand-custom navbar-mainbg ">
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/"><i class="far fa-calendar-alt"></i>Today</a>
            </li>
          </ul>
        </div>
      </nav>
</header>
<body>
  <main>